[build]
command = """
  npm install --legacy-peer-deps &&
  npm run build
"""
publish = "dist"
functions = "netlify/functions"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/api/:splat"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[build.environment]
NODE_ENV = "production"
NODE_VERSION = "20"
NPM_FLAGS = "--legacy-peer-deps"